body {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  margin: 0;
}

#form-input {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
	padding: 25px;
}

.modal-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
