* {
  box-sizing: border-box;
}

:root {
  --main-color: #8d46bd;
}

header {
  height: 250px;
  width: 100vw;
  background-color: var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

body {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  margin: 0;
  background-color: #3c3c3c;
  color: white;
  width: 100vw;
  height: 100vh;
}

#form-input {
  flex-direction: column;
	width: 650px;
	height: 500px;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  color: black;
}

#form-input textarea {
	width: 100%;
	height: 100%;
	font-size: 30px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 25px;
  color: black;
}

.modal-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.btn {
  color: white;
  background-color: var(--main-color);
  border: none;
	font-size: 20px;
}
